.arco-layout-has-sider>.arco-layout,
.arco-layout-has-sider>.arco-layout-content {
    overflow-x: inherit;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}

.container:hover ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
    box-shadow: inset006pxrgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
    box-shadow: inset006pxrgba(0, 0, 0, 0.5);
    background: transparent;
}